*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 30px;
}

header h1 {
color: white;
}

header a{
    text-decoration: none;
}

header h1::after{
    content:  ' Al Adhami';
    color: red;
}

nav {
display: flex;
background-color: black;
justify-content: space-between;
margin: 20px;
}

nav a:hover{
    background-color: white;
    font-size: 55px;
}

nav a{
    font-size: 50px;
    color: red;
    padding: 10px 10px;
    border-radius: 50px;
    text-decoration: none;
}

main{
    display: flex;
}


@media screen and (max-width:650px) {
    nav a {
        font-size: 30px;
    }
}  

@media screen and (max-width:650px) {
    header h1 {
        font-size: 50px;
    }
}  

@media screen and (max-width:430px) {
    nav  {
        size: 30px;
    }
}  

 @media screen and (max-width:499px) {
    nav a {
        font-size: 20px;
    }
}  


@media screen and (max-width:499px) {
    header h1 {
        font-size: 20px;
    }
}  

.aboutme{
display: flex;
}


.aboutme img{
    height: 600px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 20px;
}

.aboutme p{
color: white;
font-size: 70px;
margin-left: 250px;
width: 900px;
}

@media screen and (max-width: 1400px){
    .aboutme p{
        font-size: 40px;
        margin: 0;
        margin-left: 15px;
    }
}

@media screen and (max-width: 600px){
    .aboutme p{
        font-size: 20px;
        margin: 0;
        margin-left: 15px;
    }
}

@media screen and (max-width: 1000px){
    .aboutme img{
        height: 400px;
        margin: 0;
    }
}

@media screen and (max-width: 500px){
    .aboutme img{
        height: 150px;
        margin: 0;
    }
}

@media screen and (max-width: 500px){
    nav a:hover{
        font-size: 20px;
        background-color: white;
    }
}