*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 30px;
}

header h1 {
color: white;

}

header a{
    text-decoration: none;
}

header h1::after{
    content:  ' Al Adhami';
    color: red;
}

nav {
display: flex;
background-color: black;
justify-content: space-between;
margin: 20px;
}

nav a:hover{
    background-color: white;
}

nav a{
    font-size: 50px;
    color: red;
    padding: 10px 10px;
    border-radius: 50px;
    text-decoration: none;
}


@media screen and (max-width:650px) {
    nav a {
        font-size: 30px;
    }
}  

@media screen and (max-width:650px) {
    header h1 {
        font-size: 50px;
    }
}  

@media screen and (max-width:430px) {
    nav  {
        size: 30px;
    }
}  

 @media screen and (max-width:499px) {
    nav a {
        font-size: 20px;
    }
}  


@media screen and (max-width:499px) {
    header h1 {
        font-size: 20px;
    }
}  

.Me h1{
    color: azure;
    font-size: 10vw;
    margin-top: 200px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1600px){
    .Me h1{
        margin-left: 100px;
    }
} 

@media screen and (max-width: 500px){
    nav a:hover{
        font-size: 20px;
        background-color: white;
    }
}
